@import 'normalize.css';
@import '_nullstyle';
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:regular);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,regular,700&subset=cyrillic,latin);
@import url(https://fonts.googleapis.com/css?family=Lato:regular&subset=cyrillic,latin);

body {
	font-family: 'Raleway', sans-serif;
	background-color: #f0f0f0;
}

body._lock {
	overflow: hidden;
}

.header {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	z-index: 100;
	background: #0a0908;

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		margin: 30px;
		color: #fdf4e6;
		font-family: 'Amatic SC', sans-serif;
		font-size: 2.8125rem;
		line-height: 0%;
		letter-spacing: -0.125rem;
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
	}

	&__item {
		margin-right: 60px;
		&:hover,
		&:focus,
		&:active {
			opacity: 0.75;
		}
		&:last-child {
			margin-right: 20px;
		}
	}

	&__item_underline {
		color: #fff;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			border-bottom: 1px solid #fff;
		}
	}

	&__link {
		color: #fff;
		font-size: 1.25rem;
		line-height: 150.018%; /* 30.004px */
	}
}

.menu__icon {
	display: none;
}

.container {
	max-width: 1620px;
	margin: 0 auto;
}

.intro {
	margin-bottom: 115px;
	&__bg {
		height: 100dvh;
		background: url(/images/intro-bg.jpg) no-repeat center;
		background-size: cover;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		padding: 0px 20px;
	}

	&__title {
		margin: 0%;
		padding-bottom: 30px;
		font-family: 'Lato', sans-serif;
		color: #fff;
		font-size: 4.375rem;
	}

	&__subtitle {
		padding-bottom: 40px;
		color: #fff;
		font-size: 2.8125rem;
		font-weight: 300;
	}

	&__button {
		max-width: 23.75rem;
		text-transform: uppercase;
		border-radius: 3.5313rem;
		background: #669588;
		transition: 0.2s all linear;
		&:hover,
		&:focus {
			background: #447466;
			box-shadow: 0 0 20px rgba(42, 185, 42, 0.2);
		}
		&:active {
			background: #365f53;
		}
	}

	&__link {
		display: inline-block;
		text-align: center;
		padding: 1.5625rem 2.1875rem;
		color: #fff;
		font-size: 2.1875rem;
	}
}

.about {
	margin-bottom: 175px;

	&__wrapper {
		max-width: 1100px;
		margin: 0 auto;
		padding: 0px 20px;
	}

	&__title {
		text-align: center;
		font-family: 'Lato', sans-serif;
		color: #000;
		padding-bottom: 100px;
		font-size: 2.5rem;
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 150px;
	}

	&__pictures {
		position: relative;
	}

	&__pic {
		position: absolute;
		max-width: 170px;
		border-radius: 15px;

		&_displaced {
			top: 200px;
			left: 120px;
		}
	}

	&__subtitle {
		color: #000;
		text-align: right;
		font-size: 1.5625rem;
		line-height: 165%; /* 41.25px */
		letter-spacing: 0.0469rem;
	}
}

.skincare {
	margin-bottom: 120px;

	&__intro {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 100vh;
		overflow: hidden;
		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background: url(/images/skincare-bg.jpg) no-repeat center;
			background-size: cover;
			filter: brightness(0.5) contrast(0.8);
			z-index: -1;
		}
	}

	&__wrapper {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 150px;
		grid-row-gap: 40px;
		padding: 0px 20px;
	}

	&__about {
		text-align: center;
		color: #fff;
	}

	&__title {
		font-family: 'Lato', sans-serif;
		font-size: 5rem;
		padding-bottom: 35px;
	}

	&__subtitle {
		font-size: 1.5625rem;
		line-height: 165%; /* 41.25px */
		letter-spacing: 0.0469rem;
	}

	&__img {
		max-width: 600px;
		min-width: 400px;
		margin: 0 auto;
		display: block;
	}

	&__pic {
		border-radius: 3.125rem;
	}

	&__arrow {
		max-width: 64px;
		text-align: center;
		margin: 0 auto;
	}

	&__link {
		&:hover,
		&:focus,
		&:active {
			opacity: 0.75;
		}
	}

	&__thumb {
		filter: invert(100%);
	}
}

.cosmetics {
	margin-bottom: 120px;
	&__title {
		text-align: center;
		color: #000;
		font-family: 'Lato', sans-serif;
		font-size: 4.6875rem;
		padding-bottom: 80px;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 50px;
		padding: 0px 20px;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		border-radius: 25px;
		padding: 20px;
		overflow: hidden;
		background-color: #fff;
		transition: 0.3s all linear;

		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

			.cosmetics__card-pic img {
				transform: scale(1.1);
			}
		}

		.cosmetics__card-pic img {
			transition: 0.4s all linear;
			transform: scale(1);
		}
	}

	&__card-pic {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&__card-thumb {
		width: 250px;
	}

	&__card-name {
		color: #000;
		text-transform: uppercase;
		font-size: 1.875rem;
		line-height: 165%; /* 82.5px */
		letter-spacing: 0.0938rem;
		color: #292929;
	}

	&__card-subtitle {
		color: #000;
		text-transform: uppercase;
		font-size: 1.25rem;
		line-height: 165%; /* 82.5px */
		letter-spacing: 0.0938rem;
		padding-bottom: 20px;
	}

	&__card-desc {
		color: #000;
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 165%; /* 41.25px */
		letter-spacing: 0.0469rem;
		padding-bottom: 20px;
	}

	&__card-link {
		display: inline-block;
		margin-top: auto;
		border-radius: 3.5313rem;
		background: #0f61cb;
		color: #fff;
		width: 118px;
		padding: 12px 19px;
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 10px;
		transition: 0.4s all linear;
		&:hover,
		&:focus,
		&:active {
			background: #000000;
		}
	}
}

.contacts {
	margin-bottom: 120px;

	&__title {
		color: #000;
		text-align: center;
		font-family: 'Lato', sans-serif;
		font-size: 3.125rem;
		padding-bottom: 80px;
	}

	&__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 150px;
	}

	&__block {
		max-width: 64px;
		min-width: 32px;
	}

	&__block-link {
		transition: filter 0.3s ease-in-out;
		&:hover {
			filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
		}
	}
}

.footer {
	background-color: rgba(10, 10, 10, 0.9);
	color: #fff;
	padding: 30px;

	&__attention {
		position: relative;
		border: 1px solid white;
		padding: 15px 15px 0 15px;
		margin-bottom: 100px;
	}

	&__attention-img {
		position: absolute;
		max-width: 27px;
	}

	&__attention-title {
		font-size: 1.875rem;
		font-weight: 600;
		padding-left: 35px;
		padding-bottom: 25px;
	}

	&__attention-subtitle {
		font-size: 1.25rem;
		padding-bottom: 15px;
	}

	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 25px;
		place-items: center;
	}

	&__logo {
		color: #fdf4e6;
		font-family: 'Amatic SC', sans-serif;
		font-size: 5rem;
		line-height: 0%;
		letter-spacing: -0.125rem;
	}

	&__menu-item {
		padding-bottom: 15px;
	}

	&__menu-title {
		font-size: 1.875rem;
		font-weight: 600;
		padding-bottom: 5px;
	}

	&__menu-link {
		font-size: 1.5625rem;
		color: #fff;
		&:hover,
		&:focus,
		&:active {
			opacity: 0.75;
		}
	}
	&__copyright {
		text-align: center;
		padding-top: 50px;
	}
}

// Adaptive

@media (max-width: 1024px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		margin-right: 20px;
		cursor: pointer;

		span,
		&::before,
		&::after {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background-color: #fff;
		}

		&::before,
		&::after {
			content: '';
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}

		&._active span {
			transform: scale(0) translate(0px, -50%);
		}

		&._active::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}

		&._active::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}

	.header__list {
		display: flex;
		flex-direction: column;

		.header__item {
			padding-bottom: 20px;
		}

		.header__item_underline {
			position: relative;
			&::after {
				display: none;
			}
		}

		.header__link {
			font-size: 2.5rem;
		}
	}

	.header__nav {
		position: fixed;
		top: 0;
		left: -200%;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 40px 30px 30px 40px;
		transition: left 0.3s ease 0s;
		overflow: auto;

		&._active {
			left: 0;
		}
	}
	.intro {
		margin-bottom: 100px;
		&__bg {
			position: relative;
			overflow: hidden;
			z-index: 0;
			&::before {
				content: '';
				position: absolute;
				inset: 0;
				background: rgba(0, 0, 0, 0.6);
				z-index: -1;
			}
		}
		&__wrapper {
			align-items: center;
		}
	}

	.about {
		margin-bottom: 130px;

		&__title {
			padding-bottom: 80px;
			font-size: 1.875rem;
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 50px;
		}

		&__pictures {
			position: relative;
		}

		&__pic {
			position: absolute;
			max-width: 150px;
			border-radius: 15px;

			&_displaced {
				top: 180px;
				left: 100px;
			}
		}

		&__subtitle {
			font-size: 19px;
			line-height: 165%;
			letter-spacing: 0.5px;
		}
	}
	.skincare {
		margin-bottom: 100px;
		&__wrapper {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(1, 1fr);
			grid-column-gap: 150px;
			grid-row-gap: 40px;
			padding: 0px 20px;
		}
		&__title {
			font-size: 3.4375rem;
		}

		&__subtitle {
			font-size: 1.5625rem;
		}

		&__img {
			max-width: 500px;
			min-width: 400px;
			margin: 0 auto;
			display: block;
		}
	}
	.cosmetics {
		margin-bottom: 100px;
		&__title {
			font-size: 3.75rem;
			padding-bottom: 80px;
		}

		&__cards {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
			padding: 0px 80px;
		}

		&__card {
			padding: 0 20px 20px 20px;
		}

		&__card-pic {
			margin-bottom: 10px;
		}
	}
	.contacts {
		margin-bottom: 120px;

		&__title {
			font-size: 2.5rem;
		}

		&__blocks {
			display: flex;
			justify-content: center;
			gap: 100px;
		}
	}
	.footer {
		&__item {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 70px;
			place-items: center;
		}

		&__logo {
			font-size: 4.375rem;
		}

		&__menu-item {
			padding-bottom: 20px;
		}

		&__menu-title {
			font-size: 1.875rem;
			font-weight: 600;
			padding-bottom: 5px;
		}

		&__menu-link {
			font-size: 1.875rem;
			color: #fff;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.75;
			}
		}
	}
}

@media (max-width: 480px) {
	.header {
		&__logo {
			font-size: 30px;
		}
	}

	.intro {
		margin-bottom: 50px;
		&__title {
			font-size: 2.0625rem;
			padding-bottom: 20px;
		}

		&__subtitle {
			font-size: 1.5625rem;
			font-weight: 300;
			padding-bottom: 30px;
		}

		&__link {
			display: inline-block;
			text-align: center;
			padding: 1.0625rem 2.1875rem;
			color: #fff;
			font-size: 1.25rem;
		}
	}

	.about {
		margin-bottom: 80px;

		&__title {
			font-size: 1.875rem;
			line-height: 2.5rem;
			padding-bottom: 50px;
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 320px;
			place-items: center;
		}

		&__pictures {
			position: relative;
		}

		&__pic {
			position: absolute;
			max-width: 130px;
			border-radius: 15px;

			&_displaced {
				top: 100px;
				left: -140px;
			}
		}

		&__subtitle {
			text-align: center;
			font-size: 1.375rem;
		}
	}

	.skincare {
		margin-bottom: 100px;

		&__intro {
			padding: 40px 10px;
		}

		&__wrapper {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 30px;
		}
		&__title {
			font-size: 2rem;
			padding-bottom: 25px;
		}

		&__subtitle {
			font-size: 1.4375rem;
			line-height: 145%;
		}

		&__img {
			max-width: 300px;
			min-width: 200px;
			margin: 0 auto;
			display: block;
		}
	}

	.cosmetics {
		margin-bottom: 100px;
		&__title {
			font-size: 3.125rem;
			padding-bottom: 50px;
		}

		&__cards {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
			padding: 0px 15px;
		}

		&__card {
			padding: 0 20px 20px 20px;
		}

		&__card-pic {
			margin-bottom: 10px;
		}

		&__card-thumb {
			width: 200px;
		}
	}

	.contacts {
		margin-bottom: 100px;

		&__title {
			font-size: 2.5rem;
			padding-bottom: 80px;
		}

		&__blocks {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 20px;
			grid-row-gap: 100px;
		}

		&__block {
			max-width: 54px;
			min-width: 32px;
		}
	}
	.footer {
		&__attention-subtitle {
			line-height: 1.4375rem;
		}
		&__item {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 100px;
			place-items: center;
		}

		&__logo {
			font-size: 3.75rem;
			margin-right: 20px;
		}

		&__menu-item {
			padding-bottom: 20px;
		}

		&__menu-title {
			font-size: 1.875rem;
			font-weight: 600;
			padding-bottom: 5px;
		}

		&__menu-link {
			font-size: 1.875rem;
			color: #fff;
			&:hover,
			&:focus,
			&:active {
				opacity: 0.75;
			}
		}
	}
}

@media (max-height: 480px) {
	.intro {
		margin-bottom: 50px;
		&__title {
			font-size: 1.5625rem;
			padding-bottom: 20px;
		}

		&__subtitle {
			font-size: 1.25rem;
			font-weight: 300;
			padding-bottom: 30px;
		}

		&__link {
			display: inline-block;
			text-align: center;
			padding: 1.0625rem 1.875rem;
			color: #fff;
			font-size: 0.9375rem;
		}
	}

	.about {
		margin-bottom: 80px;

		&__title {
			font-size: 1.875rem;
			line-height: 2.5rem;
			padding-bottom: 50px;
		}

		&__info {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 320px;
			place-items: center;
		}

		&__pictures {
			position: relative;
		}

		&__pic {
			position: absolute;
			max-width: 130px;
			border-radius: 15px;

			&_displaced {
				top: 100px;
				left: -140px;
			}
		}

		&__subtitle {
			text-align: center;
			font-size: 1.375rem;
		}
	}

	.skincare {
		margin-bottom: 100px;

		&__intro {
			padding: 40px 10px;
		}

		&__wrapper {
			display: grid;
			place-items: center;
			grid-template-columns: repeat(2, 1fr);
			grid-row-gap: 30px;
		}
		&__title {
			font-size: 1.875rem;
			padding-bottom: 25px;
		}

		&__subtitle {
			font-size: 1.0625rem;
			line-height: 145%;
		}

		&__img {
			max-width: 300px;
			min-width: 200px;
			margin: 0 auto;
			display: block;
		}

		&__arrow {
			max-width: 54px;
			text-align: center;
			margin: 0 auto;
		}
	}

	.cosmetics {
		margin-bottom: 100px;
		&__title {
			font-size: 3.125rem;
			padding-bottom: 50px;
		}

		&__cards {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			gap: 30px;
			padding: 0px 15px;
		}

		&__card {
			padding: 0 20px 20px 20px;
		}

		&__card-pic {
			margin-bottom: 10px;
		}

		&__card-thumb {
			width: 200px;
		}
	}
}
